<!DOCTYPE html>
<html ng-app="HomeApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/i18n/angular-locale_da-dk.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/userController.js"></script>
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.3.0.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="userInformation" ng-controller="userController" class="col-md-10 col-md-offset-1">


            <div id="sign_in" class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3" data-ng-hide="authentication.isAuth" ng-cloak>
                <img src="images/DW_logo_200.png" id="logo"/>
                <form id="login_form">
                    <input type="text" id="username_input" class="form-control " placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                    <input type="password" id="password_input" class="form-control " placeholder="Password" data-ng-model="loginData.password"required>
                    <button class="btn btn-info" id="login_button" type="submit" data-ng-click="login()">Login</button>
                    <button type="submit" ng-click="createUser()" id="signin_button" class="btn btn-info">Sign up</button><br>
                    <br>
                    <span class="loginlblError" ng-show="signupError"><br><br>{{signupError}}</span>
                    <br>
                    <br>
                </form>

            </div>

            <div id="logged_in" ng-show="authentication.isAuth">
                <div id="reminder_headline" class="col-md-2"></div>
                <div id="welcomeUser_headline" ng-cloak>
                    <h4>Welcome <b>{{authentication.userName}}!</b></h4>
                    <span style="margin-right:0.5em;"></span>
                    <input type="submit" id="signout_button" data-ng-click="logOut()" value="Log out" class="btn btn-danger">
                </div>

            </div>

        </div>
    </div>


    <div id="wrapper" ng-controller="homeController">
        <div data-ng-hide="!auth" ng-cloak>

            <div class="row">
                <div id="nav" class="col-md-10 col-md-offset-1">
                    <nav class="navbar-default">
                        <div id="navCop">
                            <ul class="nav nav-pills">
                                <li ng-click="getDailyReminders()" ng-class="{'active': $route.current.activetab == 'today'}"><a href="#!">Today</a></li>
                                <li ng-click="getWeeklyReminders()" ng-class="{'active': $route.current.activetab == 'week'}"><a ng-href="#!week">Week</a></li>
                                <li ng-click="getMonthlyReminders()" ng-class="{'active': $route.current.activetab == 'month'}"><a href="#!month">Month</a></li>
                                <li ng-click="getAllReminders()" ng-class="{'active': $route.current.activetab == 'all'}"><a href="#!all">All</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div id="wrapperContainer" class="col-md-10 col-md-offset-1">
                    <div id="userReminderWrapper" class="col-md-7">
                        <div id="userReminders" ng-cloak>
                            <table id="datatable" ng-show="reminders.length > 0" class="table">
                                <thead>
                                <tr>
                                    <th>Start</th>
                                    <th>Title</th>
                                    <th>Place</th>
                                    <th></th>
                                </tr>
                                </thead>
                                </tr>
                                <tbody>
                                <tr ng-repeat="x in reminders" ng-click="setValue(x)" ng-class="{grey : x === template}" ng-hide="x.Checked">
                                    <td>{{x.StartTime | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{x.Title}}</td>
                                    <td>{{x.Place}}</td>
                                    <td>
                                        <input type="checkbox" id="dismiss_checkbox"  ng-click="saveValue(x);dismissReminder(x);$event.stopPropagation()" ng-model="x.Checked">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination boundary-links="false" direction-links="false" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-hide="reminders.length == 0"></ul>

                        </div>
                    </div>
                    <div id="reminderInformation" class="col-md-4">
                        <input type="text" class="form-control" name="title" ng-model="title" placeholder="Title">
                        <br><br>
                        <input type="text" class="form-control" name="place" ng-model="place" placeholder="Place">
                        <br><br>
                        <input type="datetime-local" class="form-control" name="startDateAndTime" ng-model="reminderStart">
                        <br><br>
                        <input type="datetime-local" class="form-control" name="endDateAndTime" ng-model="reminderEnd">
                        <br><br>
                        <textarea class="form-control" ng-model="description" placeholder="Description"></textarea>
                        <span class="lblError" ng-show="lblError"><br><br>{{lblError}}</span>
                        <br><br>
                        <div>
                            <div id="crud_buttons">
                                <span ng-click="addReminders(); changeClass();" id="add_button" class="btn glyphicon glyphicon-plus"></span>
                                <span ng-click="editReminder();" id="edit_button" class="btn glyphicon glyphicon-pencil"></span>
                                <span ng-click="removeFromList();" id="remove_button" class="btn glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>